.MainNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  background-color: #fff;
  color: gray;
  border: 1px solid #eaeaea;
}

.MainNav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  list-style-type: none;
}

.MainNav__list--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.MainNav__list--item:hover {
  color: lightseagreen;
}

.MainNav__list--item img {
  width: 20px;
}

.MainNav__list--item p {
  margin: 4px 0;
  font-size: 0.9rem;
}
