body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 400px;
  padding: 12px;
}
